.form-Containers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form1 {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.email-input-container {
    margin-bottom: 10px;
}

.selected-email {
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.selected-email button {
    margin-left: 10px;
}

button {
    margin-right: 10px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}